<!--The content below is only a placeholder and can be replaced.-->

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="heading text-center">
              <h1 class="title">
                {{ title }}!
              </h1>
            </div>
        <div class="search-bar">
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for name or sir name">
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Address</th>
              <th>Created</th>
              <th>Balance</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mydata of myData | filter:searchText">
              <td>{{mydata.first}}</td>
              <td>{{mydata.last}}</td>
              <td>{{mydata.email}}</td>
              <td>{{mydata.address}}</td>
              <td>{{mydata.created}}</td>
              <td>{{mydata.balance}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
